h1 {
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    text-align: center;
}


ol {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: coral;
    font-size: 18px;
    
}

body {
    background-color: antiquewhite;
}

